@font-face {
    font-family: Mohave-Bold;
    src: url(../fonts/Mohave-Bold.otf);
}

body {
    background: #f5f5f5;
}

#block-header,
#block-footer {
    padding-bottom: 1em;
    max-height: 5vh;
    background: #f5f5f5;
}

#block-footer { 
    position: relative;
	clear:both;
} 

#block-main {
    height: 100%;
    background: yellow;
    /*padding: 80px 0;*/
}

body > #block-main {
    height: auto; min-height: 100%;
}

#block-content {
    background: url(../img/logo2.jpg) repeat-y;
    background-size: 100%;
    min-height: 88.5vh;
}

/*.blur {
  position: fixed;
  width: 10000px;
  height: 10000px;    
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
    filter: blur(5px);
    filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGZpbHRlciBpZD0iYmx1ciI+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iNSIvPjwvZmlsdGVyPjwvc3ZnPgo=#blur");
}*/

/* CLEAR FIX*/
.clearfix:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix { 
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */


/*Main-menu*/
.main-menu, .footer-menu {
    margin: 0 10% 0 15%;
    padding: 10px 15px;
    list-style: none;
}

.main-menu li,
.footer-menu li {
    float: right;
    display: inline;
    list-style: none;
    margin-right: 15px;
}

.main-menu li:first-child,
.footer-menu li:first-child {
    float: left;
}

.main-menu a, .footer-menu span {
    color: #0088cc;
}

.block-search_results {
    margin-top: 30px;
    -webkit-box-shadow: 0px 6px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 6px 38px -6px rgba(0,0,0,1);
    padding: 5px;
}

.block-search_results .result {
    margin-top: 3px;
    list-style: none;
    font-family: Mohave-Bold;
    font-size: 16px;
    color: #fff;
}

.result a {
    border-bottom: 3px solid #fff;
    text-decoration: none;
    color: #fff;
}

.sect-desc {
    width: 100%;
    height: 333px;
    -webkit-box-shadow: 0px 6px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 6px 38px -6px rgba(0,0,0,1);
    text-align: center;
}

.wrap {
    width: 30%;
    height: 100%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
}

.sect-search {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.txt-title {
    font-family: Mohave-Bold;
    margin-right:-0.7em;
    color: #fff;
    text-shadow: 1px 1px 10px black, -1px -1px 10px black;
    font-size: 60px;
    letter-spacing: 0.5em;
    line-height: 2em;
    text-align: center;
}

.txt-desc {
    display: inline-block;
    margin-top: 25px;
    font-family: Mohave-Bold;
    color: #fff;
    font-size: 20px;
}

.btn-next {
  font-family: Mohave-Bold;
  font-size: 20px;    
  display: inline-block;
  width: 180px;
  padding: 8px;
  margin-top: 45px;
  color: #fff;    
  border: 3px solid #fff;
  outline: none;
  text-decoration: none;    
  letter-spacing: 0.15em;    
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;    
}

.btn-search,.btn-next,#inp-search,.block-search_results .result {
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out,
  color 0.2s ease-out;   
}

.btn-next:hover,
.btn-next:active,
#btn-search:hover,
.result a:hover,
#inp-search:focus {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

#inp-search {
  display: inline-block;
  font-family: Mohave-Bold;
  font-size: 16px;
  border: 0; 
  border-bottom: 3px solid #fff;
  color: #fff;    
  background: transparent;
  padding: 3px;
}

#inp-search:focus,#btn-search:active {
    outline:none;
}

#btn-search {
  display: inline-block;    
  font-size: 16px;   
  border: 3px solid #fff;
  padding: 2px 3px 0 3px;
  background: transparent;
}

#btn-search i {
  color: #fff;
}